* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
*/
body {
  background-image: linear-gradient(to right bottom, rgba(150, 163, 170, 0.6), rgba(91, 106, 114, 0.6)), url(../img/orange-county.jpg);
  height: 100vh;
  background-size: cover;
  background-blend-mode: screen; }

.container {
  margin: 10rem;
  max-width: 120rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }

.header {
  display: flex;
  align-items: center;
  border-top: 0.1rem solid #96a3aa;
  border-bottom: 0.1rem solid #96a3aa; }
  .header > * {
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    cursor: pointer; }

.logo {
  margin-right: auto; }

.resume {
  align-self: stretch; }
  .resume:hover {
    background-color: #009ada;
    color: #fff; }

.contact {
  align-self: stretch; }
  .contact:hover {
    background-color: #009ada;
    color: #fff; }

.content {
  display: flex; }
  .content__sidebar {
    flex: 0 0 20%;
    font-size: 2rem;
    color: #fff;
    background-color: #49555b; }
    .content__sidebar-nav {
      padding: 2rem 0;
      list-style: none; }
      .content__sidebar-nav--item {
        padding: 1.5rem 3rem;
        position: relative; }
        .content__sidebar-nav--item:not(:last-child) {
          margin-bottom: 0.5rem; }
        .content__sidebar-nav--item::before {
          content: "";
          width: 0.5rem;
          height: 100%;
          background-color: #009ada;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          transform: scaleY(0);
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
        .content__sidebar-nav--item:hover::before {
          transform: scaleY(1);
          width: 100%; }
      .content__sidebar-nav--link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4; }
      .content__sidebar-nav--icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: currentColor;
        margin-right: 1.5rem; }
  .content__detail {
    flex: 1;
    background-color: #c2cace;
    background-image: linear-gradient(to right bottom, rgba(91, 106, 114, 0.6), rgba(58, 68, 73, 0.6)), url(../img/dana-point.jpg);
    background-size: cover;
    background-blend-mode: screen;
    background-position: center;
    overflow: hidden; }
    .content__detail--about {
      padding: 2rem;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 300;
      font-size: 3rem; }
      .content__detail--about a {
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        font-size: 6rem;
        color: inherit;
        text-decoration: none;
        position: relative; }
        .content__detail--about a::before {
          content: "";
          height: 0.3rem;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #009ada;
          transform: scaleX(0);
          transition: transform 0.4s; }
        .content__detail--about a:hover::before {
          transform: scaleX(1); }

.about {
  font-size: 2rem;
  margin-top: 2rem; }
  .about__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    .about__list--item {
      overflow: hidden;
      color: #fff;
      background-image: linear-gradient(to right, #12b9ff, #007bae);
      outline-offset: 0.4rem;
      outline: rgba(0, 0, 0, 0.5) solid 0.3rem;
      position: relative; }
      .about__list--item:not(:last-child) {
        margin-right: 2rem;
        margin-bottom: 2rem; }
      .about__list--item-first {
        padding: 0.5rem 2rem;
        transition: all 0.2s;
        transform: translateY(0);
        display: inline-block; }
      .about__list--item-second {
        padding: 0.5rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all 0.2s;
        width: 100%;
        text-align: center; }
      .about__list--item:hover {
        background-image: linear-gradient(to right, #007bae, #12b9ff); }
      .about__list--item:hover .about__list--item-second {
        top: 0; }
      .about__list--item:hover .about__list--item-first {
        transform: translateY(-100%); }

.location h2 {
  margin-left: 5rem; }

.rationality h2 {
  margin-left: 10rem; }

.bmw-light-effect {
  display: flex;
  justify-content: space-between; }
  .bmw-light-effect--1 {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-image: radial-gradient(#fff1e0, white); }
  .bmw-light-effect--2 {
    transform: scale(1.5); }
