/*
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
*/

.heading-primary {
}
.heading-secondary {
}
.heading-tertiary {
}
.heading-quaternary {
}

.paragraph {
}
