//////////////////////////
///////// COLOR //////////
// BMW
$color-bmw-white: #fff;
$color-bmw-black: #000;
$color-bmw-blue: #009ada;
$color-bmw-blue-light: #12b9ff;
$color-bmw-blue-dark: #007bae;

$color-bmw-m5-bluestone: #72848e;
$color-bmw-m5-bluestone-light: #96a3aa;
$color-bmw-m5-bluestone-light-2: #c2cace;
$color-bmw-m5-bluestone-dark: #5b6a72;
$color-bmw-m5-bluestone-dark-1: #5b6a72;
$color-bmw-m5-bluestone-dark-2: #49555b;
$color-bmw-m5-bluestone-dark-3: #3a4449;

$color-secondary: #fff;
$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-tertiary: #fff;
$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;

//////////////////////////
///////// SIZE ///////////

//////////////////////////
/////// TYPOGRAPHY ///////
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Nunito", sans-serif;
$font-family-tertiary: "Open Sans Condensed", sans-serif;

//////////////////////////
/////// TYPOGRAPHY ///////
$box-shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 2rem 4rem rgba(0, 0, 0, 0.3);
$box-shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.5);
